.form {
  display: flex;
  flex-direction: column;
  
}

.form__input {
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  max-width: 385px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin: 8px 0 32px 0;
}
.form__button {
  border:0;
  cursor: pointer;
  height: 60px;
  max-width: 385px;
  border-radius: 4px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #ffffff;
  margin-bottom: 32px;
}

.form__button:hover {
  opacity: 70%;
}

.form__label{
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__check{
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 0;
  margin: 0; 
  padding: 0px;
}

.form__checkbox{
  border-radius: 2px;
  margin-right: 12px;
  cursor: pointer;
  box-sizing: border-box;
  height: 20px; 
  width: 20px;
}
 