.menu {
  background-image: url("../images/background_menu.svg");
  background-color: #0a2750;
  color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
}

.menu__title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 780px;
  width: 100%;
  padding-top: 100px;
  text-align: center;
  margin: 0 auto 24px auto;
}

.menu__subtitle {
  font-family: 'Noto Serif', 'Times New Roman',serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  max-width: 780px;
  margin: 0 auto 100px auto;
}

.menu__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 100px;
  margin-right: 100px; 
  margin-left: 100px; 
  padding-bottom: 100px; 
}
