.nav{
    display : flex;
    justify-content: end;
    font-family: 'Inter'; 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.nav__link{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : flex-start;
    list-style-type: none;
    margin-left: 20px;
    text-decoration: none;
    color: black;
    margin: 0 0 0 20px; 
}

.nav__link:hover{
    color: #2F80ED; 
}
