.recipes{
    background-image: url("../images/background_recipes.svg");
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 100px  0 215px 80px; 
    margin: 0;
}

.recipes__title{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    margin: 
}

.recipes__subtitle{
    max-width: 580px;
    font-family: Noto Serif;
    font-style: normal;
    font-weight: normal;    
    font-size: 20px;
    line-height: 30px; 
    position: relative;
    margin: 24px 0 80px ;
    max-width: 438px
}

.recipes__videos{
    display: flex; 
    flex-direction: row;
    column-gap: 40px;
    justify-content: center;
}

.recipes__iframe{
    border: none;
    display: flex; 
    column-gap: 40px;
    display: flex; 
    flex-direction: column;
}

.recipes__video-caption{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
}



