@import url('normalize.css');

.page{
    min-width: 1100px;
    max-width: 1600px; 
    margin: auto;
    font-family: 'inter', Arial, sans-serif;
    font-family: 'Noto Serif','Times New Roman', serif;
    font-size: 16px; 
    line-height: 20px; 
}

.header{
    background-image: url(../images/background_header.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FFFFFF;
    height: 100vh; 
    min-height: 720px;
    max-height: 800px;
    margin: auto; 
    padding: auto; 
}

.header__title{
    max-width:729px;
    margin-left: 80px;
    margin-top: 80px;
    position: relative; 
    z-index: 1;
}

.header__title_bottom{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    list-style-type: none;
    margin-top: 0; 
}

.header__span-accent{
    color: #2f80ed;
    font-family: Noto Serif;
    font-style: italic;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;
    margin-bottom: 0; 
}

.header__description{
    font-family: Noto Serif;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin-top: 28px; 
    margin-left: 80px; 
}

.header__image{
    position: absolute;
    margin: 124px 5px 0 0;
    max-height: 568px; 
    max-width: 636px;
    position: fixed;
    top: 0; 
    right: 5px;
    z-index: 0; 
}

.header__paragraph{
    margin: 0 80px 40px 80px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    list-style-type: none;
    position: absolute; 
    bottom: 40px;
    left: 80px; 
}

.header__paragraph_list{
    list-style-type: none;
}


.logo{
    max-height: 142px;
    max-width: 125px;
    margin-left: 30px;
}

.nav{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : flex-start;
    margin: 30px 80px 0 0;
    font-family: normal; 
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
}

.nav__link{
    margin-left: 20px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : flex-start;
    list-style-type: none;
}

.nav__link_hover{
    color: #2F80ED; 
}

.main{

}

.footer{

}

